@import url('https://fonts.googleapis.com/css?family=Raleway:200,500,700,900');

header {
    background-color: #2D2D2D;
    height: 75px;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    padding-right: 100px;
    padding-left: 100px;
    transition: background-color .35s ease;
}


body {
    max-width: 1680px;
    margin: 0 auto;
}


/*Fonts*/

h1 {
    font-weight: 900;
    font-size: 2.5em;
    text-transform: uppercase;
	font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
    h1 {
    font-size: 3.5em;
    }
}


h2 {
	font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 700;
    font-size: 1.5em;
}

@media screen and (min-width: 768px) {
    h2 {
    font-size: 2em;
    }
}

p {
    font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
    margin-top: 0
}


main {
    text-align: center;
    margin-top: 75px;
}


/*Background*/

.dark-bg {
     background: #000;
}

.yellow-bg {
     background: #FBBA00;
     box-shadow: rgba(0,0,0,.2) 0 0 3px;
}

/*Text*/

.white-text {
    color: #FFF;
}

.yellow-text {
    color: #FBBA00;
}

.grey-text {
    color: #2D2D2D;
}

.black-text {
    color: #000;
}

.sect-container {
    padding: 30px;
    min-height: 50vh;
}

@media screen and (min-width: 768px) {
    .sect-container {
    padding: 100px;
    }
}



/*Top Menu*/

.menu {
    max-width: 1680px;
    /*width: 100%;*/
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topmenu {
    display: block;
}


.topmenu > ul {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
}

.topmenu > ul li {
	list-style: none;
	font-weight: 700;
	font-size: 18px;
  font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

}

.topmenu > ul li a {
	text-transform: uppercase;
	text-decoration: none;
	padding: 0 30px;
	color: #fff;
	transition: all 0.35s ease;
}

.topmenu > ul li a:hover {
	color: #FBBA00;
}

.toplogo img {
    width: auto;
    height: 40px;
}


/*First screen*/

.first-screen {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    animation: movebg 4s ease forwards;
}

@keyframes movebg {
    0% {
    }

    100% {
        background: radial-gradient(rgba(0, 0, 0, .2) 6px, transparent 6px) center center fixed, #FBBA00;
        background-size: 36px 36px, cover;
        text-shadow: 3px 3px 5px rgba(0, 0, 0, .2);
    }
}


.name {
    font-weight: 900;
    font-size: 5em;
    text-transform: uppercase;
    font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    color: #fff;
}

@media screen and (min-width: 768px) {
    .name {
    font-size: 12em;
    }
}

.gaslo {
    margin-top: -20px;
}


/*Services*/
#services {
    background: linear-gradient(#fdfbfb, #ebedee);
}

.services {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 100px;
}


.photo-effect {
    background-image: url('./../img/background-par3.jpg');
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.services > div > img {
    width: 85%;
    height: 85%;
}

@media screen and (min-width: 768px) {
    .services > div > img {
        width: 55%;
        height: 55%;
}
}

.services :hover {
    color: #000;
    cursor: pointer
}


/*Preview Portfolio*/

.portfolio-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
}


/*About Us*/

.about-us-screen {
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-wrap: wrap;
   flex-direction: none;
   /*background: url('./../img/graphic.png') no-repeat center, #FBBA00;*/
   background-color: #FBBA00;
}

@media screen and (min-width: 768px) {
    .about-us-screen  {
    flex-wrap: nowrap;
    }
}

.about-us-screen p {
    padding-right: 0;
}

@media screen and (min-width: 768px) {
    .about-us-screen p  {
    padding-right: 50px;
    }
}


/*Button*/

.scrollbottom {
    width: 50px;
    height: 50px;
}

.sm-button {
    border-radius: 50px;
    color: #FBBA00;
    cursor: pointer;
    font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    text-transform: uppercase;
    padding: 8px 50px;
    border: 3px solid #FBBA00;
    transition: all 0.35s ease;
    display: inline-block;
    box-sizing: border-box;
}

.sm-button:hover {
    color: #000;
    text-decoration: none;
    background-color: #FBBA00;
}

.sm-button-black {
    color: #000;
    background-color: none;
    border: 3px solid #000;
    border-radius: 50px;
    cursor: pointer;
    font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    text-transform: uppercase;
    padding: 8px 40px;
    transition: all 0.35s ease;
    display: inline-block;
    box-sizing: border-box;
}

.sm-button-black:hover {
    color: #FBBA00;
    text-decoration: none;
    background-color: #000;
}

.scrolltop {
	width: 50px;
  height: 50px;
	position: fixed;
	right: 20px;
	bottom: 20px;
	border: 3px solid #FBBA00;
	border-radius: 9px;
	transform: rotateZ(180deg);
	display: none;
	cursor: pointer;
	transition: all .5s ease;
}




/*Footer*/

footer {
    min-height: calc(100vh - 75px);
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    background: url('./../img/city_grey.png') no-repeat center bottom, linear-gradient(#f5f7fa, #c3cfe2);
    background-blend-mode: unset;
    background-size: 200%;
}

@media screen and (min-width: 768px) {
    footer {
    background-size: 100%;
    }
}


.contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.footer-contacts {
    margin-bottom: 50px;
    position: relative;
    top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-contacts > a {
    display: block;
    font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 700;
    font-size: 1.8em;
    text-align: center;
    line-height: normal;
    text-decoration: none;
    color: #000;
    padding: 3px;
    transition: all 0.35s ease;
}



.footer-contacts > a:hover {
    color: #FBBA00;
}

/*Form*/

.form-button {
	padding-top: 15px;
}


.form {
    background: #000;
    padding: 25px;
    border-radius: 30px;
    width: 325px;
    box-sizing: border-box;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .form {
    width: 400px;
    }
}

.form input {
    width: 80%;
    border-radius: 50px;
    background: #fff;
    border: 3px solid #fff;
    padding: 12px;
    font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 1.2em;
    transition: all 0.35s ease;
}

.form input:hover {
    background: #FBBA00;
    border: 3px solid #FBBA00;
}

.form textarea {
    border-radius: 25px;
    font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    padding: 12px;
    background: #fff;
    border: 3px solid #000;
    width: 80%;
    transition: all 0.35s ease;
}

.form textarea:hover {
    background: #FBBA00;
}

/*Footer social*/


.social {
    font-size: 1.6em;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .social {
		justify-content: space-between;
    }
}

.social a {
    padding-right: 40px;
    color: #8d8d8d;
    transition: all 0.35s ease;
}

.social a:hover {
    color: #fff;
    text-decoration: none;
}

.footer-social {
    /*background: red;*/
    font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    padding: 10px 30px;
    color: #8d8d8d;
}


@media screen and (min-width: 768px) {
    .footer-social  {
    padding: 15px 100px;
    }
}