@import url('https://fonts.googleapis.com/css?family=Raleway:200,500,700,900');

header {
    background-color: #2D2D2D;
    height: 75px;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    padding-right: 100px;
    padding-left: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*Fonts*/

h1 {
    font-weight: 900;
    font-size: 2.5em;
    text-transform: uppercase;
	font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    padding-bottom: 100px;
}

@media screen and (min-width: 768px) {
    h1 {
    font-size: 3.5em;
    }
}


h2 {
    font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 700;
}

p {
    font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 500;
}


main {
    text-align: center;
    margin-top: 75px;
}

footer {
    min-height: 100vh;
    position: relative;
}

/*Background*/

.dark-bg {
     background: #000;
}

.yellow-bg {
     background: #FBBA00;
     box-shadow: rgba(0,0,0,.2) 0 0 3px;
}

/*Text*/

.white-text {
    color: #FFF;
}

.yellow-text {
    color: #FBBA00;
}

.grey-text {
    color: #2D2D2D;
}

.black-text {
    color: #000;
}

.sect-container {
    padding: 100px;
    min-height: 50vh;
}

/*Top Menu*/

.topmenu {
    display: block;
}

.topmenu > ul {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
}

.topmenu > ul li {
	list-style: none;
}

.topmenu > ul li a {
	font-size: 18px;
    font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	padding: 0 30px;
	color: #fff;
}

.topmenu > ul li a:hover {
	color: #FBBA00;
}

.toplogo img {
    width: auto;
    height: 50px
}


/*First screen*/

.first-screen {
    min-height: 100vh;
    background: url('/img/dot-grid.png') center center fixed, #FBBA00;
    /*background-color: #FBBA00;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.name {
    font-weight: 900;
    font-size: 12em;
    text-transform: uppercase;
    font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    /*padding: 200px 0;*/
    color: #fff;
}

.gaslo {
    margin-top: -20px;
}


/*Services*/

.services {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}

.parallax {
    background-image: url('/img/background2.jpg');
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.services > div > img {
    width: 100px;
    height: 100px;
}
.services :hover {
    color: #000;
    cursor: pointer
}


/*Preview Portfolio*/

.portfolio-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 100px;
}


/*Button*/

.scrollbottom {
    width: 50px;
    height: 50px;
}

.sm-button {
    border-radius: 50px;
    color: #FBBA00;
    cursor: pointer;
    font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    text-transform: uppercase;
    padding: 8px 50px;
    border: 3px solid #FBBA00;
    transition: all 0.35s ease;
    
}

.sm-button:hover {
    color: #000;
    text-decoration: none;
    background-color: #FBBA00;
}


.grey-button {
    background: #333;
	border-radius: 15px;
	color: #555;
	cursor: pointer;
	font-family: 'Raleway', sans-serif;
	font-size: 1.5em;
	text-transform: uppercase;
	margin: auto;
	padding: 10px 20px;
	transition: all .5s ease;
    animation: radial-pulse 2s infinite;
}

.grey-button:hover {
	color: #C3C3C3;
	text-shadow: none;
	animation-play-state: paused;
	text-decoration: none;
}



@keyframes radial-pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), inset 0 0 0 0 rgba(0, 0, 0, 0.2);
  }

  50% {
    box-shadow: 0 0 0 35px rgba(0, 0, 0, 0), inset 5px 5px 10px 10px rgba(0, 0, 0, 0.2);
		text-shadow: 3px 3px 5px rgba(0,0,0,.2);
  }
}



/*Footer*/

.city-view {
    position: absolute;
    bottom: 0
}

.contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

