header {
    box-sizing: border-box;
    display: flex;
    height: 75px;
    left: 0;
    margin: auto;
    max-width: 1920px;
    /*padding: 0 20px;*/
    padding: 0 8vw;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}

/*Header effect on scroll*/

.header-fixed {
    background-color: none;
    text-shadow: 2px 2px 3px rgba(0,0,0,.5);
		height: 75px;
    transition: all .5s ease;
}

.header-scroll {
    background-color: #2D2D2D;
		height: 55px;
    text-shadow: none;
    transition: all .5s ease;
}


/*@media screen and (min-width: 768px) {
    header {
        padding: 0 100px;
    }
}*/