.mob-menu {
    background: rgba(0, 0, 0, .8);
    /*padding: 25px;*/
    /*border-radius: 30px;*/
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    text-align: center;
    z-index: 9999;
    left: 0;
    top: 0;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}


.mob-menu-container {
		border-radius: 30px;
		width: 80%;
		height: 85%;
		border: 3px solid #FBBA00;
		display: flex;
    justify-content: space-around;
		flex-direction: column;
		align-items: center;
		position: relative;
}



.mob-menu-items a {
    text-transform: uppercase;
    text-decoration: none;
    padding: 25px 0;
    font-size: 22px;
    font-family: "Raleway-Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    color: #fff;
    display: block;
    transition: all 0.35s ease;
    will-change: transform;
}


.social-mob {
		width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
		align-items: center;

}

.social-mob a {
		font-size: 2em;
		color: #FBBA00;
		display: block;
}

.close-menu {
	position: absolute;
	cursor: pointer;
	top: 10px;
	right: 10px;
	height: 200%;
	width: 200%;
}

.burger {
	width: 40px;
	height: 40px;
	cursor: pointer;
}